<% if user_signed_in? %>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'PROGO', transports_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" >Welcome <strong><%= current_user.name %></strong></a></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to 'Show profile', user_path(current_user), :class => 'navbar-link' %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<% else %>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'PROGO', transports_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<% end %>
<div class="container vertical-center" id="transport-show">
    <img src="/uploads/<%= @transport.image_name %>" class="img-show" />
    <ul>
        <li>
            <b>Name</b>
            <%= @transport.name %>
        </li>
        <li>
            <b>Car Plate</b>
            <%= @transport.car_plate %>
        </li>
        <li>
            <b>Year</b>
            <%= @transport.year %>
        </li>
        <li>
            <b>Manufacturer</b>
            <%= @transport.manufacturer %>
        </li>
        <li>
            <b>Model</b>
            <%= @transport.model %>
        </li>
        <li>
            <b>Accident</b>
            <%= @transport.accident %>
        </li>
        <li>
            <b>Owner</b>
            <%= @transport.owner %>
        </li>
        <li>
            <b>C.C.</b>
            <%= @transport.cc %>
        </li>
        <li>
            <b>Payment</b>
            <%= @transport.payment %>
        </li>
    </ul>
    <div class="container">
        <% if @transport.owner == current_user.email %>
            <button class="btn btn-default" disabled="disabled"><%= link_to 'Rent', transport_rent_path(@transport) %></button>
        <% else %>
            <% if @transport.rented == false || @transport.rented == NIL %>
                <button class="btn btn-default"><%= link_to 'Rent', transport_rent_path(@transport) %></button>
            <% else %>
                <button class="btn btn-default" disabled="disabled"><%= link_to 'Rent', transport_rent_path(@transport) %></button>
            <% end %>
        <% end %>
        <button class="btn btn-default"><%= link_to 'Back', transports_path %></button>
    </div>
</div>
